<div id="predicciones" ng-repeat="dia in prediccionesController.sofaScoreService.misPredicciones">
    <table>
        <thead>
            <th colspan=2>{{dia.miDia[0].startDateTimestamp | date : 'mediumDate'}}</th>
            <th colspan=3 class="text-right">{{dia.miDia.length}} eventos</th>
        </thead>
        <tbody ng-click="prediccionesController.open(prediccion.customId)" ng-repeat="prediccion in dia.miDia">
            <tr>
                <td rowspan=2 class="hora text-center">{{prediccion.startDateTimestamp | date : 'HH:mm'}}</td>
                <td class="equipo">{{prediccion.homeTeamName}}</td>
                <td class="resultado text-center"
                    ng-class="{colorGanador: (prediccion.winnercode == 1 || prediccion.winnercode == 3),
                            colorPerdedor: prediccion.winnercode == 2}">
                    {{prediccion.homeScore.current}}
                </td>
                <td rowspan=2 class="ganador text-center"
                    ng-class="{colorApuestaVerde: prediccion.correct == 1,
                                colorApuestaRojo: prediccion.correct == 0,
                                colorApuestaGris: prediccion.correct == -1}">{{prediccion.vote}}</td>
                <td rowspan=2 class="apuesta text-center">{{prediccion.odds.decimalValue}}</td>
            </tr>
            <tr>
                <td class="equipo">{{prediccion.awayTeamName}}</td>
                <td class="resultado text-center"
                    ng-class="{colorGanador: (prediccion.winnercode == 2 || prediccion.winnercode == 3),
                            colorPerdedor: prediccion.winnercode == 1}">
                    {{prediccion.awayScore.current}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan=2 class="text-center"><b>correcto/total: {{dia.misStats.countCorrectos}}/{{dia.miDia.length}}</b></td>
                <td colspan=3 class="text-center"
                    ng-class="{colorVerde: dia.misStats.beneficio - dia.miDia.length > 0,
                            colorRojo: dia.misStats.beneficio - dia.miDia.length < 0}"><b>beneficio: {{dia.misStats.beneficio - dia.miDia.length | number : 2}}</b></td>
            </tr>
        </tfoot>
    </table>
</div>